.nav-link:hover {
    border-bottom: 3px solid rgb(169, 67, 169);
  }
  .nav-link {
    color: black;
  }
  #current {
    color: rgb(169, 67, 169);
    border-bottom: 3px solid rgb(169, 67, 169);
  }
  .carousel-caption {
  
    bottom: 15rem !important;
    left:25rem !important;
    
}
.karousel-head{
  
  font-size: 4rem;
  text-align: start;
  margin-left: -10rem;
}
.karousel-item{font-size: 4rem !important;
}
 
.About-section h1{
  color: rgb(49, 5, 93);
}
.btn1{color: rgb(186, 184, 188);
background: rgb(87, 66, 181);}